*{
    box-sizing: border-box;
}


.page-header{
    padding: 15px 0;
    margin: 60px; 
    background: url(bg-page-header.png) no-repeat center center;
    background-size: cover; 
    margin: 0;
    border: 0;
    text-align: center;
}

.whitebg h1{
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 42px;
    color: #2c3c69;
    margin-top: 2px;
    font-family: "Lucida Handwriting", "Cursive";
}

h1 {
    line-height: 50px;
}



.whitebg{
    background-color: rgba(254,254,254,.7);
    border: 1px solid rgba(254,254,254,.85);
    border-radius: 10px;
    padding: 0 10px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}


h3 {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 1px;
    font-weight: 300;
}
strong {
    font-weight: bold;
    vertical-align: baseline;
}

.row {
  display: flex;
}

.column {
  float: left;
  width: 25%;
}

.column img{
	height: 125px;
	width: 125px;
}

.color-shade-1 h3{
	color: #063664 !important;
}


.color-shade-2 h3{
	color: #063664 !important;
}


.color-shade-3 h3{
	color: #037456 !important;
}


.color-shade-4 h3{
	color: #03a888 !important;
}





 h2 {
    background-color: #f2f2f2;
    overflow: hidden;
    color: black;
    font-family: arial;
    font-size: 0.95em;
    text-align: center;
    padding:0;
    margin:0;
} 

 .main-dropdown {
    color: black;
    font-family: arial;
    font-size: 0.75em;
    text-align: center;
}

 h5 {
    color: black;
    font-family: arial;
    font-size: 0.8em;
    text-align: center;
}
  textarea {
    width: 800px;
    height: 200px;
} 

#instructions {
   padding: 8px;
} 

 #clear {
    clear: both;
} 

 .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 10px;
}
.save-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 10px;
}

.btn-form {
    font-size: 12px;
}

.forms {
    position: relative;
    display: inline-block;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.input {
    width: 600px;
}

 
 
@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
    .whitebg{
    	margin: 0 15px;
    }
    textarea {
        width: 100%;
        height: 200px;
    }
    label[for=input-fileName]{
        text-align: center;
    }
    label[for=input-fileFormat]::before{
       
        content: "";
        display: block;
        margin-top: 8px;
        
    }
    
    .save-btn::before{
       
        white-space:pre;
       
    }
       
    .save-btn{
       
       display: block;
       text-align: center;
       
       margin: auto;
   }
     
  }
